################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StaticComponentGenerator/v16
/PuppeteerSharpController/bin/Debug/netcoreapp3.1
/PuppeteerSharpController/obj
/StaticComponentGenerator/obj
